/*=========================
Font
=========================*/

$font-family: "Inter", sans-serif;


/*=========================
Colors
=========================*/

$black: #141718;
$white: #FFFFFF;

$gray: #6C7275;
$footer-text: #8F8F8F;

$border: #E8ECEF;

$light: #F3F5F7;
$bg-light: #F8F9FA;


/*=========================
Font Size
=========================*/

$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-28: 28px;
$fs-32: 32px;
$fs-36: 36px;
$fs-42: 42px;
$fs-50: 50px;
$fs-72: 72px;


/*=========================
Font Weight
=========================*/

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;


/*=========================
Border Radius
=========================*/

$radius-10: 10px;
$radius-16: 16px;
$radius-20: 20px;
$radius-24: 24px;
$radius-30: 30px;
$radius-pill: 999px;

/*=========================
Spacing
=========================*/

$space-1: 8px;
$space-2: 16px;
$space-3: 24px;
$space-4: 32px;
$space-5: 40px;
$space-6: 48px;


/*=========================
Transition
=========================*/

$transition: all .3s ease;